# Byte-compiled / optimized Python files
__pycache__/
*.py[cod]

# CPython
*.so
*.pyd

# Packages
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
bin/
var/
sdist/
develop-eggs/
.installed.cfg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml

# Virtual environments
venv/
env/
ENV/

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.komodoproject
.komodotools/
/.replit

# Exclude files
# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

*.hdf5
*.parquet
*.csv
.python-version